<%= form_for @trip do |t| %>
  <%= t.label "Name Your Trip:" %>
  <%= t.text_field :name %>
<% end %>

</form>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map" class="our-map"></div>

<form>
  <button id="add-ping" name="add_ping">Add Trail Point</button>
</form>

<form>
  <button id="submit-pings" name="submit_ping">Submit Pings</button>
</form>

<script async defer src="https://maps.googleapis.com/maps/api/js?&key=<%=ENV['MAPS_KEY']%>&libraries=places&callback=initMap"></script>

<script type="text/javascript">
  var trip = <%== {"latitude":"35.6550645689539", "longitude":"-122.958984375", "zoom":"4"}.to_json %>;
</script>
