<% current_users_trip = users_trip(@trip) %>

<div class="col-md-3 notes-show">
  <div id="trip-name"><h3><%= @trip.name %></h3></div>

  <table class="table trip-details">
    <tbody>
      <tr>
        <td id="distance"></td>
      </tr>
      <tr>
        <td id="gain"></td>
      </tr>
      <tr>
        <td id="starting-point"></td>
      </tr>
      <tr>
        <td id="high-point"></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% if current_users_trip %>
    <div class="buttons">
      <form class="user-button">
        <button id="add-marker" name="add_marker" class="btn btn-success">Add A Note</button>
      </form>

      <form class="user-button">
        <button id="submit-marker" name="submit_marker" class="btn btn-success">Save Note</button>
      </form>

      <form class="user-button">
        <button id="cancel-marker" name="cancel_marker" class="btn btn-sm btn-warning">Cancel Note</button>
      </form>

      <form class="user-button">
        <button id="edit-trip" name="edit_trip" class="btn btn-sm btn-success">Edit Trip</button>
      </form>

      <form class="user-button">

        <button id="delete-trip" name="update_trip" class="btn btn-sm btn-success"><%= link_to 'Delete Trip', url_for(action: :destroy ,id: @trip.id), method: :delete, data: {confirm: "Are you sure?"} %></button>
      </form>

      <form class="user-button">
        <button id="update-trip" name="update_trip" class="btn btn-success">Update Trip</button>
      </form>
    </div>
  <% end %>
  <hr>

  <h3>Trip Notes:</h3>

  <ul id="note-container">
    <% unless @trip.markers.empty? %>
      <% @trip.ordered_markers_by_created_at.each_with_index do |marker, i| %>
        <li class="marker" id = "marker-<%=marker.id%>"><b><%= i + 1%>.</b>
          <%= marker.note %>
          <blockquote class="blockquote">lat: <%= marker.lat %><br>
          lng: <%= marker.lng %></blockquote></li>
      <% end %>
    <% else %>
      <% if current_users_trip %>
        <span class="no-note">You Have No Notes For This Trip.</span>
      <% else %>
        <span class="no-note">There Are No Notes For This Trip.</span>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-9 maps-show">
  <div id="map" class="our-map img-responsive>"></div>
  <div class="img-responsive" id="elevation_chart"></div>
</div>

<script type="text/javascript">
  var trip = <%==  @trip.to_json %>;
  var pings = <%==  @trip.pings.to_json %>;
  var markers = <%==  @trip.ordered_markers_by_created_at.to_json %>;
  var users_trip = <%==  (@users_trip).to_json %>
</script>

<script>google.load('visualization', '1', {packages: ['columnchart']})</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?&key=<%=ENV['MAPS_KEY']%>&callback=initMap&libraries=geometry"></script>
