<div class="col-md-3 notes-show">
  <h3><%= @trip.name %></h3>
  <hr>
  <form>
    <button id="add-marker" name="add_marker" class="btn btn-success">Add A Note</button>
  </form>

  <form>
    <button id="submit-marker" name="submit_marker" class="btn btn-success">Save Note</button>
  </form>
  <br>
  <form>
    <button id="cancel-marker" name="cancel_marker" class="btn btn-sm btn-warning">Cancel Note</button>
  </form>

  <ul id="note-container" style="list-style-type: none;">
    <% unless @trip.markers.empty? %>
      <% @trip.markers.each_with_index do |marker, i| %>
        <b><li class="marker" id = "marker-<%=marker.id%>"><%= i + 1%>.</b>
          <%= marker.note %>
          <blockquote class="blockquote">lat: <%= marker.lat %><br>
          lng: <%= marker.lng %></blockquote></li>
      <% end %>
    <% else %>
      You Have No Notes For This Trip.
    <% end %>
  </ul>
</div>

<div class="col-md-9 maps-show">

  <div id="map" class="our-map"></div>

</div>

<script type="text/javascript">
  var trip = <%==  @trip.to_json %>;
  var pings = <%==  @trip.pings.to_json %>;
  var markers = <%==  @trip.markers.to_json %>;
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?&key=<%=ENV['']%>&callback=initMap"></script>
