<h1>My Trips</h1>
<hr>
<% @trips.each do |trip| %>
  <!-- <div class="row"> -->
    <div class="list-group">
      <%= link_to trip_path(trip) do %>
        <ul style="list-style-type: none; padding-left: 0;">
          <div class="map-pic col-md-4 list-group-item">
            <li class="list-item">
              <div class="col-md-12 static-map">
                <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= trip.latitude %>,<%= trip.longitude%>&zoom=<%= trip.zoom %>&size=600x300&maptype=terrain&path=geodesic:true|<%=static_path(trip)%>&key=<%=ENV['STATIC_MAPS_KEY']%>">
                <div>
                  <h4 id="trip-list-text"><%= trip.name %></h4>
                  <ul class="style-ul">
                    <!-- needs different details here -->
                    <!-- <% trip.markers.each do |marker| %>
                      <li><%= marker.note %></li>
                    <% end %> -->
                  </ul>
                </div>
              </div>
            </li>
          </div>
        </ul>
      <% end %>
    </div>
  <!-- </div> -->
<% end %>
