<div class="">
  <h1>My Trips</h1>
  <hr>
  <% @trips.each do |trip| %>
    <%= link_to trip_path(trip) do %>
      <ul style="list-style-type: none; padding-left: 0;">
        <div class="map-pic col-md-10 list-group-item">
          <li class="list-item">
            <div class="col-md-3" id="trip-list-text">
              <h4><%= trip.name %></h4>

              <!-- I think this should be commented out -->
              <ul style="list-style-type: none; padding-left: 8px;">
                <% trip.markers.each do |marker| %>
                  <li><%= marker.note %></li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-8 static-map">
              <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= trip.latitude %>,<%= trip.longitude%>&zoom=<%= trip.zoom %>&size=600x300&maptype=terrain&path=geodesic:true|<%=static_path(trip)%>&key=<%=ENV['STATIC_MAPS_KEY']%>">
            </div>
          </li>
        </div>
      </ul>
    <% end %>
  <% end %>
</div>
