<div class="about-us">

  <div class="row well about-container">
    <div class="span12">
      <img src="/assets/ScrambleSquad.jpg"  class="team-img pull-right myclass" width="45%" height="45%">
      <p>Scramble is a mapping tool to help coordinate and plan off-trail hiking, backpacking, and moutaineering trips. Inspired by our love for outdoor culture, Scramble allows users to efficiently create and save backcountry routes that easily visualize coordinates, distance and elevation changes on a topographic map. Scramble was completed for our final project upon completion of <a href="https://devbootcamp.com/">DevBootcamp</a>'s web development program and it continues to be an ongoing collaboration with our team.
      </p>

      <h3>Meet our Team!</h3>
      <h4>Ian Greenburg - iangreenburg@yahoo.com</h4>
          <div class="personal">Ian can't get enough <%=Faker::Hipster.word%>.<br>
          Favorite Quote: "<%=Faker::StarWars.quote%>"</div>

      <h4>Jake Kelly - jakemkelly84@gmail.com</h4>
          <div class="personal">Jake loves to <%=Faker::Hipster.word%>.<br>
          Favorite Quote: "<%=Faker::StarWars.quote%>"</div>

      <h4>Jeff Kranking - jkranking@gmail.com</h4>
          <div class="personal">Jeff enjoys <%=Faker::Hipster.word%>.<br>
          Favorite Quote: "<%=Faker::StarWars.quote%>"</div>

      <h4>Warner Nielsen - bwn888@gmail.com</h4>
          <div class="personal">Warner is into <%=Faker::Hipster.word%>.<br>
          Favorite Quote: "<%=Faker::StarWars.quote%>"</div>
    </div>
  </div>
</div>
