<!DOCTYPE html>
<html>
  <head>
    <title>Scramble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?&key=<%=ENV['maps_key']%>"></script>
  </body>
</html>
